body {
    font-family: Arial;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

.banner {
    background: orange;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
}
